###########################################
### Mainsail Variables                  ###
###########################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : "true"
variable_custom_park_x    : 10.0
variable_custom_park_y    : 20.0
variable_custom_park_dz   : 5.0
variable_retract          : 1.0           # retract on pause (mm)
variable_cancel_retract   : 5.0           # retract on cancel (mm)
variable_speed_retract    : 40.0
variable_unretract        : 1.0           # unretract on resume (mm)
variable_speed_unretract  : 40.0
variable_speed_hop        : 15.0
variable_speed_move       : 125.0
variable_park_at_cancel   : "true"
variable_park_at_cancel_x : None
variable_park_at_cancel_y : 270
variable_use_fw_retract   : "false"
variable_idle_timeout     : 0             # mainsail idle timeout — managed by _PAUSE_EXTRAS instead
variable_runout_sensor    : "filament_switch_sensor filament_runout"
variable_user_pause_macro : "_PAUSE_EXTRAS"
variable_user_resume_macro: "_RESUME_EXTRAS"
variable_user_cancel_macro: "_CANCEL_EXTRAS"
gcode: